#dashboard{
	padding:0px;
	margin:0px;
}
.drop-menu li span{
	float:right;
}
.menu{
	border:1px solid black;
}

@media (max-width:769px){
.menu{
	display:none;
}
.ba1 {
		display:block;
	}
}

@media (min-width:769px){

.ba1 {
		display:none;
	}
}
.types {
	display:none;
}
.search  ul li a{
	padding:0px;
	background-color:#415670;
	border-radius:100px;
	width:300px;
}
.search  ul li a:hover{
	background-color: #415670;
}
.search  ul li a input{
	border:none;
	padding:10px 0px;
	outline:none;
	margin:0px;
	background-color:#415670;
}
.search  ul li a i{
	color:white;
	margin-left:30px;
}








.aside{
	
	
}
.heading{
	padding:20px 0px;
	font-size:16px;
}
.heading span{
	color:blue;
}
.buttons{

	float:right;
	margin:20px 0px;
	

}
.buttons button{
	border:1px solid #9f9f9f;
	color:#5f5fa1;
     background-color:  #fffcfc;
     border-radius:5px;

	
}

.layer2 .layer2-1-1 .bar{
	height:5px;
	width:100%;
}
.layer2 .row{
	width:100%;
	
	
}
 .layer2 .row .layer2-1-1{
	
	border-radius:10px;
	padding:20px 10px;
	color:white;


}
.layer2 .row .layer2-1-1 button{
	float:right;
	width:30px;
	height:30px;
	border:1px solid white;
	color:blue;
	border-radius:5px;
	
}
.layer2 .row .layer2-1-1 a{
	color:white;
}



.layer3{
	
	margin:40px 0px;
}
.layer3 .layer3-1{
	
	background-color:white;

}
.layer3-1-1 {
	padding:0px 20px;
}
.layer3 .layer3-1-2 img{
	width:100%;
}
.layer3 .layer3-1 button{
	float:right;
	margin:20px;
	color:#5f5fa1;
	width:60px;
}
.layer3 .layer3-1 ul{
	padding-left:0px;
}
.layer3 .layer3-1 ul li{
	border-top:1px solid black;
	list-style-type:none;
	padding:17.5px 0px;
}
.layer3 .layer3-1 ul li img{
	float:left;

	
}
.layer3 .layer3-1 ul li .bar{
	width:50%;
	margin-left:60px;
	height:5px;
}




.layer4-1{
	border:1px solid white;

}
.layer4-1heading{
	
background-color:white;
}
.layer4-1 button{
	float:right;
	margin-right:20px;
	background-color:#6666ca; 
	color:white;
}
.layer4-1-1 td{
    height:60px;
	background-color:white;
	padding:40px 0px;
}
.layer4-2{
	
	background-color:white;

}
.layer4-2heading{
	
	background-color:white;
 

}

.layer4-2 button{
	float:right;
	color:#6666ca;
	background-color:white; 

}

.maps img{
	

	width:90%;
}
.s2{
	border:1px solid black;
}
.bor td img{
	width:30px;
}



.layer5{
	margin:30px 0px;
}
.layer5-1{
	
	background-color:white;
}
.layer5-1 h4{
	
	padding:10px 0px;
}
.layer5-1 tr{
	

}
.bor1 td{
	height:90px;
	
}
.bor1 td img{
	width:50px;
	
	border-radius:100px;
}
.layer5-1-1 td{
	padding:20px 0px;
}
.layer5-1-2 td{
	padding:20px 0px;
}
.layer5-1-1 button{
	color:white;
	border:1px solid white;
	background-color:#6666ca;
}
.bor2 td{
	height:90px;
	
}
.bor2 span{
	border:1px solid none;
	padding-bottom:3px;
	padding:0px 5px;
	border-radius:2px;
	width:20px;
}
.layer5-1 ul{
	padding-left:0px;
}
.layer5-1 li{
	
	padding:18px 0px;
	list-style-type: none;
}

.layer5-1 li img{
	float:left;

}
.layer5-1 li .bar{
	height:5px;
}






.footer{
	

}
.line{
	
	padding:20px 0px;
}
.navbar a{
	
	margin-left:20px;
}
.navbar{
	list-style-type: none;
	display:flex;
	float:right;
}